
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imaganesyoga/header.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_title {
  font-weight: 300;
}

.nav_link {
  margin-left: auto;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav_items {
  list-style: none;
}

.nav_links {
  color: #fff;
  text-decoration: none;
}

.nav_menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav_img {
  display: block;
  width: 30px;
}

.nav_close {
  display: var(--show, none);
}
/* hero*/
.hero_container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}
.hero__title {
  font-size: 3rem;
}

.hero__paragraph {
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  background-color: #f92082;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}

/* seccion sobre nosotros*/
.sobre_nosotros{
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  --padding-container: 0;

}
.sobrenosotros_h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.beneficios_titulo{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.beneficios{
  display:flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
margin-left: 0px;
}
.beneficios_background{
  background-color: #e5e5f7;
opacity: 1;
background-image: radial-gradient(#e169e6 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}
.parrafo_beneficio{
  padding-right: 50px;
  margin: auto;
  border-left-width: 1px;
  border-left-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.img_sobrenosotros{
  width: 400px;
  height: 400px;
  border-radius: 20px;
  float: left;
  margin-right: 100px;
}

/* seccion profesores*/
.parrafo_prof{
  display:flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
margin-left: 0px;
}
.parrafo_infancias{
 display: flex;
 
}
.contenedor_infancias{
  display: flex;
  justify-content: center;
  align-items: center;
  --padding-container: 0;
}


.img_infancia{
  height: 300px;
  width: 300px;
  border-radius: 50px 0 50px 0;
  float: left;
  margin-left: 25px;

}
.parrafo{
  padding-right: 40px;
  margin-left: -100px;
  padding-top: 40px;

}
.titulo_prof{
  padding-bottom: 20px;
}
.div_profesores{
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  --padding-container: 0;
}
.sec_profesores{
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
  
}
.nombre_profeinfancia{
  padding-left: 0;
}
.nombre_profpau{
  padding-left: 300px;
  padding-bottom: 10px;
}
.img_prof{
  width: 300px;
  height: 300px;
  border-radius: 50px 0 50px 0;
  float: left;
}
.parrafo_pau{
  margin-left: 30px;
}
.img_prof2{
  width: 300px;
  height: 300px;
  border-radius:50px 0 50px 0 ;
  float: left;
   
}

.nombre_prof{
  padding-right: 400px;
  padding-top: 20px;

}

/* foother */
.section{
  margin: 0;
  padding: 0%;
  box-sizing: content-box;
  border: 1px black;

}
.buttonredes{
  border-radius:solid  1px black;
min-height: 30vh;
display: flex;
justify-content: center;
align-items: center;
}
.buttonredes{
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#f1c1f2 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
.iconosredes{
  min-width: 700px;
  display: flex;
  justify-content: space-around;
}
.iconosredes a{
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color:white;
  
  color: white;
  
     
  border-radius:50%;
   box-shadow: 2px 2px 5px rgba(0,0,0, .5);
   transition: all .4s ease-in-out;
  


}
.iconosredes a:hover{
  transform: scale(1.2);
}

/* flayer */
.testimony{
  background-color: #e5e5f7;
}

.testimony__container{
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.testimony__body{
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}


.testimony__body--show{
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.testimony__img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.testimony__texts{
  max-width: 700px;
}

.testimony__course{
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  padding: 5px;
}

.testimony__arrow{
  width: 90%;
  cursor: pointer;
}

/*disponibilidad  */

.contenedor_disponibilidad {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}
.titulo_disponibilidad{
  margin-top: 20px;
  margin-bottom: 20px;
}
.parrafo_disponibilidad{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ubicacion */
.ubicacion_titulo{
  text-align: center;
  margin:40px;
  padding-top: 20px;
}
.contenedor_ubicacion{
  display: flex;
  align-items: center;
 text-align: center;
 justify-content: center;
 
}
.img_sancle{
  width: 300px;
  height: 300px;
  border-radius:30px;
}
.img_mapa{
  width: 300px;
  height:300px ;
  margin-left: 130px;
  border-radius: 30px;
}
.caja_ubicacion{
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#f5e8f8 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  padding-bottom: 30px;
}
.parrafo_ubicacion{
  padding-bottom: 70px;
  margin-left:130px ;

}

/* pagos */

.contenedor_pagos{
  padding-top: 30px;
  padding-bottom: 30px;

}
.titulo_pago{
  padding-bottom: 30px;
  text-align: center;
}

